body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 800px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  margin-top: 20px;
  padding: 7px 15px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid green;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
  color: green;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid green;
  background: linear-gradient(311.12deg, #b4ec51 0%, #429321 100%);
  margin-top: 30px;
  cursor: pointer;
}
.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .content-center span {
  display: block;
  font-size: 25px;
}
.banner .content-center img {
  width: 35px;
  height: 35px;
  padding-top: 5px;
}
